<div class="ui-g ui-fluid">
  <div class="ui-g-2">
    <p-checkbox [(ngModel)]="hideExpired" binary="true" label="Только активные"></p-checkbox>
  </div>
  <div class="ui-g-1 ui-g-offset-8">
    <button type="button" pButton icon="fa fa-file" label="Создать" (click)="onNew()"></button>
  </div>
  <div class="ui-g-1">
    <button type="button" pButton icon="fa fa-refresh" label="Обновить" (click)="onRefresh()"></button>
  </div>
</div>

<div class="ui-fluid">
<p-table #dt [columns]="cols" [value]="(msgService.messages) | async | msgFilter: hideExpired" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th style="width:4em"></th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'author'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
        <input *ngSwitchCase="'subject'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
      </th>
      <th style="width:4em"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngClass]="rowData.generated ? 'autoMsg' : null">
        {{rowData[col.field]}}
      </td>
      <td>
        <button pButton icon="fa fa-edit" (click)="router.navigate(['/messages',rowData.id])"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
